* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: inline-block;
}

/* Home page */
/* Hye Tamara */
.home-page-header {
  display: block;
  position: relative;
  font-family: poppins-semi-bold;
  padding: 20px 30px;
  font-size: 20px;
}

.home-page-header h2 {
  color: rgb(58, 57, 57);
}

.home-page-header p {
  font-family: poppins-light;
  font-size: 10px;
  color: rgb(58, 57, 57);
  letter-spacing: 1px;
}

.home-page-header #header-image {
  position: relative;
  display: inline-block;
  top: -45px;
  margin: auto 250px;
  padding: 0 10px;
  background-color: rgb(255, 0, 157);
  border-radius: 5px;
  text-decoration: none;
}

.home-page-header #header-image::after {
  content: "+";
  font-family: poppins-regular;
  position: relative;
  /* left: -7px; */
  color: white;
  font-size: 21px;
}

/* tamara tasks */

/* .tamara-task-table {
  display: block;
  position: absolute;
  padding-bottom: 10px;
  margin: 0 5px;
  width: 85%;
  top: -75px;
  left: 35px;
  border-bottom: 1px solid rgb(240, 237, 237);
} */

#nums {
  position: relative;
  top: -3rem;
  font-family: poppins-regular;
  font-size: 15px;
  color: rgb(58, 57, 57);
  /* text-align: left; */
  left: 17px;
}

#tasks {
  display: block;
  /* position: absolute; */
  padding: 5px 0;
  font-family: poppins-light;
  font-size: 11px;
  color: rgb(102, 101, 101);
  letter-spacing: 0.5px;
  border-bottom: 1px solid rgb(240, 237, 237);
}
/* .tamara-task-table th {
  position: relative;
  font-family: poppins-medium;
  font-size: 15px;
  color: rgb(58, 57, 57);
  text-align: left;
  left: 17px;
}

.tamara-task-table td {
  position: relative;
  padding: 0 18px;
  font-family: poppins-light;
  font-size: 11px;
  color: rgb(102, 101, 101);
  letter-spacing: 0.5px;
} */

/* Tamara grid section */
.tamara-grid-section {
  position: absolute;
  padding: 25px 25px;
}

#schedule {
  display: grid;
  position: relative;
  /* grid-template-areas: 120px 120px 100px; */
  grid-template-columns: 120px 120px;
  grid-template-rows: 30px 45px;
  padding: 0 30px;
  border: none;
}

#work::after {
  content: "";
  position: absolute;
  left: 6.8rem;
  border: 2.4px solid skyblue;
  border-radius: 50%;
}

#personal::after {
  content: "";
  position: absolute;
  left: 6.8rem;
  border: 2.4px solid skyblue;
  border-radius: 50%;
}

#shopping::after {
  content: "";
  position: absolute;
  left: 6.8rem;
  border: 2.4px solid palevioletred;
  border-radius: 50%;
}

#health::after {
  content: "";
  position: absolute;
  left: 6.8rem;
  border: 2.4px solid red;
  border-radius: 50%;
}

.tamara-grid {
  box-shadow: 1px 1px 2px 2px rgba(215, 212, 212, 0.2);
  font-family: poppins-medium;
  position: relative;
  font-size: 10px;
  text-align: left;
  padding: 8px 10px;
}

#tamara-tasks {
  display: block;
  font-family: poppins-light;
  color: rgb(72, 71, 71);
  font-size: 10px;
  letter-spacing: 0.5px;
}

/* Tamara todo list */
.tamara-todo-list {
  position: relative;
  display: grid;
  grid-template-rows: auto auto auto auto;
  font-family: poppins-light;
  padding: 8px 14px;
  font-size: 9px;
  color: rgb(72, 71, 71);
}

.todo-list-grid {
  padding: 12px 0;
}

.todo-list-grid::after {
  content: "";
  position: relative;
  display: block;
  width: 85%;
  left: 35px;
  top: -0.5rem;
  border-bottom: 1px solid gainsboro;
}

.ui-challenge {
  /* border: 1px solid blue; */
  background-color: rgb(77, 176, 237);
  padding: 12px 20px;
  width: 75%;
  left: 50px;
  top: 55px;
  position: absolute;
  color: white;
  z-index: 1;
  border-radius: 5px;
  font-family: poppins-medium;
  font-size: 9px;
  letter-spacing: 1px;
  /* font-weight: 600; */
}

.ui-challenge:after {
  content: "";
  position: absolute;
  left: 13.9rem;
  top: 6px;
  /* width: 100%; */
  border: 2.7px solid white;
  border-radius: 5px;
}

.ui-subtitle {
  position: relative;
  display: block;
  font-family: poppins-thin;
  color: white;
  word-spacing: 1px;
}

.do-yoga {
  position: absolute;
  font-family: poppins-semi-bold;
  color: rgb(72, 71, 71);
  font-size: 10px;
  letter-spacing: 1px;
  background-color: white;
  box-shadow: 0px 1px 1px 1px gainsboro;
  padding: 12px 20px;
  width: 75%;
  left: 50px;
  top: 8.5rem;
  z-index: 1;
  border-radius: 5px;
}

.do-yoga:after {
  content: "";
  position: absolute;
  left: 13.9rem;
  top: 6px;
  /* width: 100%; */
  border: 2.7px solid red;
  border-radius: 5px;
}

.yoga-subtitle {
  display: block;
  font-family: poppins-light;
  word-spacing: 1px;
  font-size: 10px;
}

.eat-lunch {
  position: absolute;
  font-family: poppins-semi-bold;
  color: rgb(72, 71, 71);
  font-size: 10px;
  background-color: white;
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 20px;
  width: 75%;
  left: 50px;
  top: 14rem;
  z-index: 1;
  border-radius: 5px;
  font-size: 10px;
  letter-spacing: 1px;
}

.eat-lunch::after {
  content: "";
  position: absolute;
  left: 13.9rem;
  top: 6px;
  /* width: 100%; */
  border: 2.7px solid palevioletred;
  border-radius: 5px;
}

.lunch-subtitle {
  display: block;
  font-family: poppins-light;
  word-spacing: 1px;
  font-size: 10px;
}

.make-lunch {
  font-family: poppins-semi-bold;
  background-color: white;
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.2);
  color: rgb(72, 71, 71);
  padding: 12px 20px;
  width: 75%;
  left: 50px;
  top: 17.7rem;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  font-size: 10px;
  letter-spacing: 1px;
}

.make-lunch::after {
  content: "";
  position: absolute;
  left: 13.9rem;
  top: 6px;
  /* width: 100%; */
  border: 2.7px solid lightskyblue;
  border-radius: 5px;
}

.make-lunch-subtitle {
  display: block;
  font-family: poppins-light;
  color: rgb(95, 94, 94);
  /* word-spacing: 1px; */
  font-size: 10px;
}
