* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  padding: 60px 60px;
}

.back-arrow {
  display: block;
  width: 10px;
}

.do-yoga-title {
  font-family: poppins-extra-bold;
  display: block;
  position: relative;
  font-size: 30px;
  font-weight: 800;
  top: 20px;
}

main {
  display: block;
  position: relative;
  padding: 0px 100px;
  top: -20px;
}

.yoga-task-detail {
  list-style: none;
  font-weight: 600;
  color: rgb(82, 81, 81);
  font-size: 12px;
}

.yoga-task-detail li {
  padding: 5px 0;
  font-size: 11px;
  font-weight: 800;
  /* color: black; */
  font-family: poppins-regular;
}

.yoga-task-detail li:nth-child(odd) {
  font-weight: 800;

  font-family: poppins-thin;
  color: black;
}

.task-type {
  font-family: poppins-regular;

  display: block;
  position: relative;
  padding: 0 100px;
  color: rgb(82, 81, 81);
  font-size: 11px;
}

.task-type-btn {
  padding: 8px 18px;
  position: relative;
  font-family: poppins-thin;

  display: inline-block;
  font-size: 11px;
  color: white;
  background-color: lightseagreen;
  top: 10px;
  left: 100px;
  border-radius: 5px;
}

.task-type-description {
  display: block;
  font-family: poppins-thin;
  font-size: 11px;
  font-weight: 800;
  color: black;

  padding: 28px 100px;
}

.task-type-description-time {
  display: block;
  font-family: poppins-regular;
  position: relative;
  top: -25px;
  font-size: 16px;
  opacity: 0.2;
  padding: 0 100px;
}
